{{ define "main" }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
  <div class="post-meta">
    {{ with .Params.Author }}
    <span class="post-author">::
      {{ . }}
    </span>
    {{ end }}
  </div>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  <div class="post-content">
    {{ .Content }}
    {{ if .Site.Params.HackSenseEnable }}
    <ul id="people">
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script>
    var socket = io.connect("{{ .Site.Params.HackSenseURL }}");
    socket.emit("getClients");
	socket.on("clients", function(data) {
		console.log(data);
		var people = JSON.parse(data);
		document.getElementById("people").innerHTML = ""
		for (p in people) {
			document.getElementById("people").innerHTML += "<li>"+p+": "+people[p]+"</li>";
		}
	});
    </script>
    {{ else }}
    <h1>A Hacksense le van tiltva.</h1>
    {{ end }}
  </div>
</div>
{{ end }}
